.link {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto;
  -webkit-transition-property: background-color, border-color, color, fill, stroke;
  transition-property: background-color, border-color, color, fill, stroke;
  -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms
}

.link:hover {
  --ac-text-opacity: 1;
  color: rgba(229, 231, 235, var(--ac-text-opacity));
  --ac-text-opacity: 1;
  color: rgba(31, 41, 55, var(--ac-text-opacity))
}

.activeLink {
  --ac-border-opacity: 1;
  border-color: rgba(17, 24, 39, var(--ac-border-opacity));
  border-bottom-width: 2px
}